<!DOCTYPE html>
<html>
 <head>
   <meta charset = "utf-8">
   <title>Welcome Page</title>
 </head>
 <body>
   {{>header}}
   <p>{{screamIt welcomeMessage}}</p>
   <img src="best-welcome-animated-gif-587.gif" alt="Isn't this a bit slow" style="width:480px;height:360px;">
   <h1>Happy Birthday AMY</h1>
   <h2>Enjoy Some Music(Arctic Monkeys)</h2>
   <audio controls>
  <source src="Arctic Monkeys.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>

  {{>footer}}
 </body>
</html>
